.dockbar{
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    border-radius: 15px;
    padding: 15px;
    z-index: 999;
    width: 80vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dockbar svg{
    width: 20vw;
}