.preloader{
    margin: 0 auto;
    width: 100%;
}

@media screen and(max-width: 768px){
    .preloader{
        width: 100%
    }
}



.line{
    margin-top: 15px;
    margin-bottom: 15px;
    background: linear-gradient(to left, #eaeaee, #d9d9db);
    padding: 15px;
    box-sizing: border-box;
    border-radius: 15px;
    animation: lineAnimation 1s ease-in-out infinite;
    background-size: 200% 200%;
}

body[class~="dark"] .line{
    background: linear-gradient(to left, #1c1c1d, #0a0a0a);
    animation: lineAnimation 1s ease-in-out infinite;
    background-size: 200% 200%;
}

@keyframes lineAnimation {
    0%{
        background-position-x: 0%;
    }
    50%{
        background-position-x: 200%;
    }
    100%{
        background-position-x: 0%;
    }
}