.alarmblock{
    width: 500px;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: #fff;
}
.alarmblock h2{
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.alarmblock ul{
    list-style: none
}
.alarmblock ul li{
    border-bottom: 1px solid #ccc;   
    margin: 15px 0px;
    padding-bottom: 15px;
}
.alarmblock ul li:last-child{
    border-bottom: none;   
    padding-bottom: 0px;
    margin-bottom: 0;
}

@media screen and (max-width: 768px){
    .alarmblock{
        width: 100%;
    }
}