.project_name{
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-image: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    user-select: none;
  }
  

.themeToggle{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.back{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.nav{
    position: relative;
}